# Quickstart for GitHub Actions
# https://docs.github.com/en/actions/quickstart
name: Fast CI
on: [ push, pull_request, workflow_dispatch ]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        java: [ 8.0.345, 8, 11, 17, 20 ]
      fail-fast: false
      max-parallel: 64
    name: Fast CI on Java ${{ matrix.java }} OS ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          cache: maven
      - run: ./mvnw -V --no-transfer-progress clean package
